body {
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
}

/*Search Style and Animation*/
.searchCharacters {
  overflow: hidden;
  width: 50%;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10%;
}

.searchCharacters input#inputCharacter {
  width: 100%;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 15pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
}

.searchCharacters input#inputCharacter::-webkit-input-placeholder {
  color: #65737e;
}

.searchCharacters input#inputCharacter::-moz-placeholder {
  color: #65737e;
}

.searchCharacters button#btnSearchCharacter {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.searchCharacters:hover button#btnSearchCharacter,
.searchCharacters:active button#btnSearchCharacter,
.searchCharacters:focus button#btnSearchCharacter {
  outline: none;
  opacity: 1;
  margin-left: -65px;
  font-size: 15pt;
  border-radius: 10px;
}

.searchCharacters:hover button#btnSearchCharacter:hover {
  background: white;
}

/* Carousel One Style */
.carousel {
  position: static;
  width: 300px;
  height: 400px;
  left: 332px;
  top: 10px;
  bottom: 10px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;
}

.carousel1Name {
  color: white;
}

/* Slider */

.carrousel {
  width: 100%;
  max-width: 120em;
  overflow: hidden;
  position: relative;
  background-color: aqua;
}

.carrousel .container-carrousel {
  width: 300%;
  background-color: orange;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  transition: all 0.5s ease;
  transform: translateX(0%);
}
.container-carrousel::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.carrousel .img {
  width: calc(100% / 3);
  min-height: 10vh;
  background-color: lime;
}
.carrousel .puntos {
  width: 100%;
  background-color: red;
  padding: 0.4em;
  margin: -112px 0 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.carrousel .punto {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 0.5em 2em;
  list-style: none;
  z-index: 1;
}

.carrousel .punto.activo {
  background-color: #ffffff;
  transform: scale(1.1);
}
