/*Modal Start*/
.hidden {
  display: none;
}

.show-modal {
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 9px;
  right: 25px;
  font-size: 4rem;
  color: #000;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #eeeeee;
  padding: 6rem;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  height: max-content;
}

.modal-change-password {
  width: 25%;
}

.close-modal-Change-Password {
  font-size: 4rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
/* Modal End */

/* Login Start */
.img-container {
  transform: translate(-41px, 4px);
}

.img-login {
  transform: scale(1.76);
  width: 20%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.credentials-login {
  padding: 1% 7%;
  margin-left: 39%;
}

.text-login {
  font-size: xx-large;
  margin-left: 15%;
  color: #000000;
  transform: translate(0px, -50px);
  margin-bottom: -40px;
}

.input-login {
  padding: 12px 82px;
  border: 2px solid #100;
  color: #100;
  display: inline-block;
  border-radius: 5px;
}

.input-username {
  margin-top: 57px;
  margin-bottom: 20px;
}

.btn-login {
  background-color: #ef5c43;
  border: 2px solid #100;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  padding: 10px 95px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 15%;

  margin-bottom: 8px;
  margin-top: 33px;
  cursor: pointer;
}

.btn-forgot-password {
  border: none;
  display: block;
  color: #000000;
  background-color: transparent;
  margin-left: 23%;
  font-size: 16px;

  margin-bottom: -30px;
  cursor: pointer;
  margin-top: 6.3%;
}

.btn-create-account {
  border: none;
  display: block;
  color: #000000;
  background-color: transparent;
  margin-left: 34%;

  margin-bottom: inherit;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: -22%;
  margin-top: 14%;
}

div.info-login-container {
  width: 100%;
  margin: auto;
}

div.info-login-container img.img-login {
  float: left;
  margin-right: 15px;
}

div.reset {
  clear: both;
}

.dateLogin {
  display: inline-block;
  vertical-align: top;
}

.buttons-login {
  margin-bottom: -17px;
}
/* Login end */

/* Sign Up Start */
.sing-up {
  padding: 0% 7%;
  margin-left: 39%;
}

div.sing-up {
  width: 100%;
  margin: auto;
}

div.sing-up {
  float: right;
  margin-right: -10%;
  margin-bottom: -3%;
}

.text-create-account {
  font-size: xx-large;
  margin-left: 0%;
  color: #000000;
  transform: translate(19rem, -60px);
  margin-bottom: -40px;
  width: max-content;
}

.input-sing-up {
  padding: 19px 102px;
  border: 2px solid #100;
  color: #100;
  display: inline-block;
  border-radius: 5px;
  font-size: 18px;
}

.input-username {
  margin-top: 47px;
  margin-bottom: 26px;
}

.input-username-sing-up {
  margin-top: 46px;
  margin-bottom: 30px;
}

.btn-register {
  background-color: #518cca;
  border: 2px solid #100;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  padding: 21px 56px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 15%;
  margin-bottom: 8px;
  margin-top: 34px;
  transform: translate(-1px, -6rem);
  cursor: pointer;
}

div.reset {
  clear: both;
}
/* Sign Up End */

/* Change Password Start */
.forgot-password {
  padding: 0% 7%;
  margin-left: 39%;
}

div.forgot-password {
  width: 100%;
  margin: auto;
}

div.forgot-password {
  float: right;
  margin-right: 20%;
  margin-bottom: 0%;
}

.text-new-password {
  font-size: xx-large;
  margin-left: 0%;
  color: #000000;
  transform: translate(10rem, -60px);
  margin-bottom: -40px;
  width: max-content;
}

.input-new-password {
  margin-top: 10%;
  margin-left: 19%;
  padding: 19px 102px;
  border: 2px solid #100;
  color: #100;
  display: inline-block;
  border-radius: 5px;
  font-size: 18px;
}

.input-username-sing-up {
  margin-top: 36px;
  margin-bottom: 35px;
}

.btn-search-user {
  background-color: #518cca;
  border: 2px solid #100;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  padding: 21px 55px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 56%;
  margin-bottom: 0px;
  margin-top: 22px;

  cursor: pointer;
}

.new-password {
  margin-top: 27px;
  margin-bottom: 26px;
}

.confirm-new-password {
  margin-top: 0px;
  margin-bottom: 30px;
}

.btn-change-password {
  background-color: #ef5c43;
  border: 2px solid #100;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  padding: 21px 56px;
  font-size: 16px;
  border-radius: 10px;
  margin-left: 54%;
  margin-bottom: -10%;
  margin-top: 0px;
  cursor: pointer;
}

btnchangePassword div.reset {
  clear: both;
}
/* Change Password End */

/* Responsive Start */
@media (max-width: 721px) {
  /* RS => Responsive */

  /* Modal RS Start*/

  .close-modal {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 40px;
  }
  /* Moda RS End */

  /* Login RS Strat*/
  .img-login {
    transform: scale(3.2);
  }

  .img-container {
    transform: translate(-45px, 44px);
  }

  .text-login {
    width: max-content;
    font-size: 22px;
  }

  .input-login {
    padding: 15px 40px;
    margin-top: 9%;
    margin-left: -14px;
  }

  .input-username {
    margin-top: 17px;
    margin-bottom: 0px;
  }

  .input-username-sing-up {
    margin-top: 46px;
    margin-bottom: 0px;
  }

  .btn-login {
    padding: 10px 100px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: -11%;
    margin-top: 21px;
    margin-bottom: -8px;
  }

  .btn-forgot-password {
    margin-top: 21%;
    margin-left: 23%;
    font-size: 13px;
    width: max-content;
  }

  .buttons-login {
    padding-left: 10px;
  }
  /* Login RS End */

  /* Sing Up RS Start */

  .sing-up {
    padding: 1% 7%;
    margin-left: 39%;
  }

  div.sing-up {
    width: 100%;
    margin: auto;
  }

  div.sing-up {
    float: right;
    margin-right: 10px;
    margin-bottom: -28%;
  }

  .btn-create-account {
    margin-left: 38%;
    font-size: 12px;

    margin-bottom: -55px;
    width: max-content;
    margin-top: 31%;
  }

  .text-create-account {
    transform: translate(10rem, -60px);
    font-size: 22px;
  }

  .input-sing-up {
    padding: 15px 40px;
    margin-top: 9%;
    margin-left: -14px;
    font-size: 14px;
  }

  .btn-register {
    align-items: center;
    padding: 15px 39px;
    font-size: 14px;
    border-radius: 10px;
    margin-left: 86%;
    margin-bottom: -30px;
    padding-left: 43px;
    transform: translate(-4px, -10.38rem);
  }

  /* Sing Up RS End*/

  /* Change Password RS Start */
  .forgot-password {
    padding: 0% 7%;
    margin-left: 39%;
  }

  div.forgot-password {
    width: 100%;
    margin: auto;
  }

  div.forgot-password {
    float: right;
    margin-right: 20%;
    margin-bottom: 0%;
  }

  .text-new-password {
    font-size: 23px;

    transform: translate(2rem, -68px);
  }

  .input-new-password {
    margin-left: -16%;
    padding: 17px 55px;
  }

  .input-username-sing-up {
    margin-top: 34px;
    margin-bottom: 0px;
  }

  .btn-search-user {
    padding: 15px 45px;

    margin-left: 40%;
  }

  .new-password {
    margin-top: 27px;
    margin-bottom: 26px;
  }

  .confirm-new-password {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .btn-change-password {
    padding: 15px 45px;

    margin-left: 40%;
  }

  btnchangePassword div.reset {
    clear: both;
  }
  /* Change Password RS End */
}
/* Responsive End */
