body {
  background-color: #1d1d1d;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.6;
}

/* Buttons Page Search Start */
.containerButtons {
  width: 100%;
  padding: 0px;
  display: flex;
}

.btnsSearch {
  margin-top: 30px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 30px;
}

.btnHome {
  margin-left: 2%;
}

.textSearchName {
  width: max-content;
  color: white;
  margin-left: 36%;
padding: 0px;}

.btnConfig {
  margin-right: 1%;
}

.btnsUserConfig {
  color: black;
  border-radius: 10px;
  border: 3px solid #000000;
  font-size: 22px;
  padding: 15px 10px;
  display: inline-block;
  width: max-content;
  transform: translate(-13px, 0px);
}

.btnClearHistory {
  margin-top: -25px;
}

.btnCloseSession {
  margin-top: 30px;
  transform: translate(-19px, 0px);
}

.btnHistory {
  margin-left: 31%;
  margin-right: 20px;
}
/* Buttons Page Search End */

/* Modal Start */
.show-modal-Search {
  cursor: pointer;
}

.modalSearch {
  position: fixed;
  top: 35%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 10%;
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  height: max-content;
}

.overlaySearch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
/* Modal End */

/* Loader and Animation */
.loader-container {
  position: relative;
  width: 160px;
  height: 160px;
  margin: auto;
}

.loader-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: solid 8px transparent;
  border-top-color: #ef5c43;
  border-left-color: #ef5c43;
  border-radius: 50%;
  animation: loader 1.2s linear infinite;
}

.loader-container .loader2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  border: solid 8px transparent;
  border-top-color: #518cca;
  border-left-color: #518cca;
  border-radius: 50%;
  animation: loader2 1.4s linear infinite;
}

.loader-container .loader3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  border: solid 8px transparent;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  border-radius: 50%;
  animation: loader2 1.8s linear infinite;
}

@keyframes loader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes loader3 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*Search Style and Animation*/
.searchCharacters {
  overflow: hidden;
  width: 50%;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 10px;
  margin: 20% auto;
}

.searchCharacters input.inputCharacter {
  width: 100%;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 15pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 10px;
}

.searchCharacters input.inputCharacter::-webkit-input-placeholder {
  color: #65737e;
}

.searchCharacters input.inputCharacter::-moz-placeholder {
  color: #65737e;
}

.searchCharacters button.btnSearchCharacter {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all 0.55s ease;
  -moz-transition: all 0.55s ease;
  -ms-transition: all 0.55s ease;
  -o-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.searchCharacters:hover button.btnSearchCharacter,
.searchCharacters:active button.btnSearchCharacter,
.searchCharacters:focus button.btnSearchCharacter {
  outline: none;
  opacity: 1;
  margin-left: -65px;
  font-size: 15pt;
  border-radius: 10px;
}

.searchCharacters:hover button.btnSearchCharacter:hover {
  background: white;
}

/* Card*/
.container-card {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container-card .card-one {
  width: 330px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgb(255, 255, 255);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container-card .card-one:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(255, 255, 255);
}

.container-card .card-one img {
  width: 330px;
  height: 420px;
}

.container-card .card-one h4 {
  color: white;
  font-weight: 600;
}

.container-card .card-one p {
  color: white;
  padding: 0 1rem;
  font-size: 18px;
  font-weight: 300;
}

.container-card .card-one a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

.hidden {
  display: none;
}

@media (max-width: 1020px) {
  .btnsSearch {
    font-size: 30px;
    margin-top: 20px;
  }

  .textSearchName {
    margin-left: 23%;
    margin-top: 35px;
    font-size: 20px;
    margin-right: -9%;
    
    transform: translate(15px, 0px);
  }

  .btnHome {
    margin-left: 17px;
    margin-right: 13px;
  }

  .btnHistory {
    margin-left: 14%;
  }

  .btnsUserConfig {
    transform: translate(-55px, 0px);
  }

  .btnCloseSession {
    transform: translate(-60px, 0px);
  }

  .btnHistory {
    margin-left: 31%;
    margin-right: 20px;
  }

  .modalSearch {
    top: 30%;
    left: 80%;
  }
}
